.containerLogin {
    display: flex;
    width: 100%;
}

.containerFormLogin {
    min-width: 100%;
}

@media screen and (max-width: 768px) {
    .containerLogin {
        flex-direction: column;
    }
}