@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 0.50rem;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  outline: none;
  border: 1px solid #000;
}

input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
}

button {
  padding: 0.7rem 1.5rem;
  border-radius: 0.50rem;
  cursor: pointer;
  width: 100%;
  transition: all 0.8s ease;
}

.primary-gradient {
  transition: all 0.8s ease;
  background: linear-gradient(90deg, #ff8a00 0%, #e52e71 100%);
  color: #fff;
}

.primary-gradient:hover {
  transition: all 0.8s ease;
  background: linear-gradient(-90deg, #ff8a00 0%, #e52e71 100%);
  color: #fff;
}